@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: your custom styles below */
html {
    scroll-behavior: smooth;
    background-color: #f3f3fa;
}

#rfs-btn {
    @apply w-full rounded-md text-gray-500 group-hover:border-primary-500 transition-all duration-300;
    /* Add any other Tailwind styles you need */
}

.ReactFlagsSelect-module_selectValue__152eS {
    transition: color 0.5s ease;
    /* always apply this */
}

.flag-group:hover .ReactFlagsSelect-module_selectValue__152eS {
    color: #8b5cf6;
    /* text-primary-500 */
}